* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.gallery-wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: -webkit-box-flex 0.8s ease;
  transition: -webkit-box-flex 0.8s ease;
  transition: flex 0.8s ease;
  transition: flex 0.8s ease, -webkit-box-flex 0.8s ease, -ms-flex 0.8s ease;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.gallery-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
  -webkit-transition: background-color 0.8s ease;
  transition: background-color 0.8s ease;
}

.gallery-item:hover {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.gallery-item:hover::after {
  background-color: initial;
}

.gallery-item .name {
  font-size: 8rem;
  background-color: #fff;
  padding: 0 1rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s 0.8s ease;
  transition: -webkit-transform 0.5s 0.8s ease;
  transition: transform 0.5s 0.8s ease;
  transition: transform 0.5s 0.8s ease, -webkit-transform 0.5s 0.8s ease;
}

.gallery-item .postition-title {
  display: inline-block;
  font-size: 2rem;
  background-color: #fff;
  padding: 1rem;
  -webkit-box-shadow: 0 1px 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.5s 0.8s ease;
  transition: -webkit-transform 0.5s 0.8s ease;
  transition: transform 0.5s 0.8s ease;
  transition: transform 0.5s 0.8s ease, -webkit-transform 0.5s 0.8s ease;
}

.gallery-item:hover .name,
.gallery-item:hover .postition-title {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.gallery-item:not(:hover) .name,
.gallery-item:not(:hover) .postition-title {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.description-wrapper {
  text-transform: uppercase;
  -ms-flex-item-align: end;
      align-self: flex-end;
  overflow: hidden;
}

.item-1 {
  background-image: url("../images/CoreyTyler.jpg");
}

.item-2 {
  background-image: url("../images/shawn-clown-crahan.jpg");
}

.item-3 {
  background-image: url("../images/ChrisFehn.jpeg");
}

.item-4 {
  background-image: url("../images/MickTomson.jpg");
}

.item-5 {
  background-image: url("../images/JoeyJordison.jpg");
}

.item-6 {
  background-image: url("../images/jimRoot.jpg");
}

@media (max-width: 768px) {
  .gallery-wrapper {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery-item {
    background-position: top center;
  }
  .gallery-item .name {
    font-size: 5rem;
  }
  .gallery-item .postition-title {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .gallery-item .name {
    font-size: 4rem;
  }
  .gallery-item .postition-title {
    font-size: 1.6rem;
  }
}

@media (max-width: 420px) {
  .gallery-item .name {
    font-size: 2rem;
  }
  .gallery-item .postition-title {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
/*# sourceMappingURL=style.css.map */